bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.db
*.db-journal
*.db-shm
*.db-wal
*.user
/.vs/ResoniteWikiMine/FileContentIndex
/.vs/ResoniteWikiMine/DesignTimeBuild
/.vs/ResoniteWikiMine/v17
.vs/ProjectEvaluation/resonitewikimine.metadata.v9.bin
/.vs/ProjectEvaluation
